body {
  background: #252830;
  // Cool blue color: #1997c6
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

nav.navbar {
  //max-height: 50px;
  background: #1a1c22;
  //vertical-align: middle;
  //color: #1997c6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}

#loginPage {
  .modal-body {
    input {
      margin-bottom: 10px;
    }

    input[type="text"] {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-top: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    input:last-child {
      //margin-bottom: 0 !important;
    }
  }
}