<form id="loginForm" class="form-signin">
    <h2 class="form-signin-heading">Conectare</h2>

    <div class="form-group email">
        <label for="inputEmail" class="sr-only">Email</label>
        <input id="inputEmail" name="email" class="form-control" placeholder="Email" required="" autofocus="true" type="email">
        <span class="help-block"></span>
    </div>

    <div class="form-group password">
        <label for="inputPassword" class="sr-only">Parola</label>
        <input id="inputPassword" name="password" class="form-control" placeholder="Parola" required="" type="password">
        <span class="help-block"></span>
    </div>

    <!--<div class="form-group rememberme">-->
    <!--<div class="checkbox">-->
    <!--<label>-->
    <!--<input name="rememberme" value="remember-me" type="checkbox"> Remember me-->
    <!--</label>-->
    <!--</div>-->
    <!--<span class="help-block"></span>-->
    <!--</div>-->

    <button class="btn btn-lg btn-primary btn-block" type="submit">Conectare</button>
    <div class="registerinLoginDiv row">
        <div class="col-xs-3">
            <a href="/#register">Cere cont</a>
        </div>
        <div style="text-align: right" class="col-md-5 pull-right">
            <a href="/#renew">Cere alta parola</a>
        </div>
    </div>
</form>